.homeContainer {
  padding-top: 250px;
  background-color: #efeef3;
  padding-bottom: 100px;
  position: relative;
}

.title {
  font-size: 4rem;
  line-height: 1;
}

.title:hover {
  color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 2px;
  transition: all 0.3s linear;
}

.titleSpan {
  color: #306598;
}

.heroPageBtnContainer {
  column-gap: 24px;
}

.heroPageBtn1 {
  text-align: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: #306598;
  padding: 10px 50px;
  border: none;
  color: white;
  text-decoration: none;
  border-radius: 20px;
}

.heroPageBtn1:hover {
  box-shadow: 0 4px 10px #306598;
}

.heroPageBtn2 {
  text-align: center;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.75);
  padding: 10px 50px;
  border: none;
  border: 2px solid #306598;
}

.heroPageBtn2:hover {
  background-color: #306598;
  color: white;
}

.whyUs {
  background-color: #efeef3;
  padding-block: 3%;
}

.whyUs h2 {
  color: #306598;
}

.courses, .location {
  background-color: #efeef3;
  padding-block: 3%;
}

.coursesVideos {
  padding-block: 3%;
}

.courses h2, .location h2 {
  color: #306598;
}

.robotSplineContainer {
  position: absolute;
  top: 18%;
  left: 33%;
  height: 50%;
}
.robotSpline {
  position: relative;
  width: 100%;
  height: 100%;
}

.iframeResponsive {
  max-width: 560px;
  width: 100%;
}

.modalBody {
  max-height: 61vh;
  overflow-y: auto;
  padding-right: 10px;
}

.modalBody ul,
.modalBody ol {
  padding-left: 1.2rem;
  margin-bottom: 1rem;
}

.modalBody li {
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

.modalBody h3 {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.courseDetails {
  max-height: 65vh;
  overflow-y: auto;
  padding-right: 10px;
}

.courseDetails ul,
.courseDetails ol {
  padding-left: 1.2rem;
  margin-bottom: 1rem;
}

.courseDetails li {
  margin-bottom: 0.5rem;
  line-height: 1.4;
}

.courseDetails h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

.courseDetails p {
  margin-bottom: 1rem;
  line-height: 1.5;
}

.courseDetails small {
  font-size: 0.9rem;
  color: #555;
}

.courseDetails strong {
  font-weight: bold;
}

.modalBtn {
  border: none;
  color: white;
  background-color: #306598;
  border-radius: 10px;
  padding: 5px 15px;
}










/* media  */
@media screen and (max-width: 1400px) {
  .robotSplineContainer {
    top: 18%;
    left: 39%;
  }
}

@media screen and (max-width: 1299px) {
  .robotSplineContainer {
    top: 18%;
    left: 41%;
  }
}

@media screen and (max-width: 1199px) {
  .robotSplineContainer {
    top: 17%;
    left: 50%;
  }
}

@media screen and (max-width: 1150px) {
  .title {
    font-size: 3rem;
    line-height: 1;
  }

  .homeContainer {
    padding-top: 150px;
  }

  .robotSplineContainer {
    top: 9%;
    left: 35%;
  }
}

@media screen and (max-width: 1030px) {
  .robotSplineContainer {
    display: none;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 650px) {
  .homeContainer {
    padding-top: 120px;
  }
}

@media screen and (max-width: 508px) {
  .content p {
    font-size: 14px;
  }

  .title {
    font-size: 2.5rem;
  }

  .heroPageBtn1,
  .heroPageBtn2 {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 427px) {
  .title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 405px) {
  .content p {
    font-size: 10px;
  }

  .heroPageBtn1,
  .heroPageBtn2 {
    padding: 5px 20px;
  }
}

@media screen and (max-width: 347px) {
  .title {
    font-size: 1.5rem;
  }
}
