.overlay {
  position: fixed;
  inset: 0; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  padding-left: 1rem;
  padding-right: 1rem;
  z-index: 999;
  pointer-events: all;
}

.bodyLock {
  overflow-y: hidden;
}

.header {
  font-weight: bold;
  color: #306598;
  font-size: larger;
}

.content {
  background-color: #fff;
  border-radius: 0.5rem; 
  max-width: 42rem; 
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-inline: 1rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  overflow: scroll;
  max-height: 90%;
}

.body {
  margin-left: -1rem;
  margin-right: -1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
